<center>
    <img src="https://jsantarc.github.io/ADMN5016_2022/images/logo-stc.jpeg" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Midterm**

Classify the Iris flower dataset using Logistic Regression

The Iris flower data set or Fisher's Iris data set is a multivariate data set introduced by the British statistician and biologist Ronald Fisher in his 1936 paper The use of multiple measurements in taxonomic problems as an example of linear discriminant analysis.[1] It is sometimes called Anderson's Iris data set because Edgar Anderson collected the data to quantify the morphologic variation of Iris flowers of three related species.[2] Two of the three species were collected in the Gasp√© Peninsula "all from the same pasture, and picked on the same day and measured at the same time by the same person with the same apparatus

Answer the following 5 questions

----

## Name: Goodness Adesokan
## Student# 4341916

First, let's install `seaborn` for visualization tasks and import required libaries for this lab

In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier


%matplotlib inline

## Load and explore the tumor sample dataset

<b>(Q-1)</b>  load the dataset `iris.csv` as a Pandas dataframe with ```read_csv```:

In [8]:
# Read datast in csv format
dataset_url = "https://raw.githubusercontent.com/jsantarc/ADMN5016_2022/master/week-1/iris.csv"
iris = pd.read_csv(dataset_url)

In [9]:
iris.head(7)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

<b>(Q-2)</b> split the dataframe  into input `X` with columns <code>'sepal_length','sepal_width','petal_length','petal_width'</code> and output `y` and column  <code>'species'</code>:

In [11]:
X =iris[['sepal_length','sepal_width','petal_length','petal_width']]
y = iris['species']

In [12]:
print(X)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [13]:
print(y)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

<b>(Q-3)</b>  split  dataset <code>X</code> and <code>y</code> into a training and  testing datasets with the following using ```train_test_split```:

In [ ]:
test_size=0.2
random_state=0
#train_test_split

In [14]:
# Split 80% as training dataset
# and 20% as testing dataset (we can also use this as Validation data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=0)

<b>(Q-4)</b> Create a k-nearest neighbor object setting K=4 and fit it using the training  data ```KNeighborsClassifier```

In [30]:
 knn = KNeighborsClassifier(n_neighbors=4)

In [32]:
# Train the classifier
knn = knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=4)

<b>(Q-5)</b> Test the  k-nearest neighbor  object and fit it using test data :

In [33]:
yhat = knn.predict(X_test)

In [34]:
yhat

array(['virginica', 'versicolor', 'setosa', 'virginica', 'setosa',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'setosa'], dtype=object)

For more check out my course on <a href="https://www.coursera.org/learn/machine-learning-with-python">Machine Learning with Python</a>